html {
    font-size: 16px;
  }
  
  * {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }
  
  header {
    background-image: url("./assets/design1_image1.jpg");
    background-size: cover;
    background-position: center;
    height: 20em;
    width: 100%;
    display: flex;
  }
  .title {
    margin-bottom: 10px;
  }

  nav{
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 100px;
  }

  .button{
    text-decoration: none;
    background-color: #4174ff;
    color: #ffffff;
    position: relative;
    left: 575px;
    bottom: 20px;
  }
  
  #logo-img {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: 20px;
    position: relative;
  }
  
  h1 {
    color: #000000;
    font-size: 52px;
  }
  
  .menu-aside {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .menu-aside {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  a{
    padding: 10px;
  }
  
  .sections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
  
  .parrafs {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
  }
  
  .parrafs p {
    margin: 10px 0;
  }
  