html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

header {
  background-image: url("./assets/design1_image1.jpg");
  background-size: cover;
  background-position: center;
  height: 20em;
  width: 100%;
  display: flex;
}

.titles {
  margin-bottom: 40px;
}

.title {
  font-size: 18px;
}

nav {
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 100px;
}

.button {
  text-decoration: none;
  background-color: #4174ff;
  color: #ffffff;
  position: relative;
  left: 575px;
  bottom: 20px;
}

#logo-img {
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: 20px;
  position: relative;
}

h1 {
  color: #000000;
  font-size: 52px;
}

.menu-aside {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

a {
  padding: 10px;
}

.titles {
  text-align: center;
}

/* comienza el flexbox de los elementos del centro */

.sections {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-bottom: 1em;
}

.article-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.container-2 {
  margin-top: 15px;
}

.container-2 li h3.subtitle {
  margin: 10px 0;
}

.parrafs {
  margin-left: 20px;
}

.parrafs p {
  margin: 10px 0;
}

.flex-item {
  flex: 1;
  margin: 0 10px; 
}

ul .all-play1 {
  text-indent: 1em;
}

ul .all-play2 {
  margin-left: 1em;
  justify-content: center;
}