html {
    font-size: 16px;
  }
  
  * {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }
  
  header {
    background-image: url("../design1_image1.jpg");
    background-size: cover;
    background-position: center;
    height: 20em;
    width: 100%;
    display:inline-flex;
    justify-content: end;
    align-items: flex-start;
  }
  .title {
    margin-bottom: 10px;
  }

  .button{
    text-decoration: none;
    background-color: #4174ff;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);    
    color: #ffffff;
    position: relative;
    display: inline-flex;
    padding: 10px 20px;
    margin: 3px 5px;
  }


  h1 {
    color: #000000;
    font-size: 52px;
  }

  #logo-img {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: 20px;
    position: relative;
  }
  
  .menu-aside {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  a{
    padding: 10px;
  }
  
  .sections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }