/* comienzo del centro del html */

.container{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.subtitle {
  margin: 1em;
  font-size: 18px;
  font-style: italic;
}

.subtitle-1 {
  margin: 1em;
  font-size: 18px;
  font-style: italic;
  text-decoration: underline;
}

/* tabla */

.table-container {
  flex-direction: column;
  margin: 20px 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

thead{
  flex-direction: column;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-titles{
  justify-content:left;
  margin-right: 15px; 
  width: 100%;
}

.titles{
  flex-grow: 2;
  justify-content: flex-start;
  padding: 5px 35px;
}

th{
  padding-left: 5px;
}

td{
  padding: 10px 30px;
}

tbody {
  border: 1px solid #000000;
}

.container-2 {
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin-left: 5em;
  padding: 5px; 
}


.text {
  margin-left: 5px;
}

.strong {
  font-weight: bold;
  margin: 0;
}

.parrafos {
  display: flex;
  justify-content: flex-start;
  flex-direction: row; 
  align-items: center; 
  margin: 5px;
}

.container-4 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin-left: 5em;
  padding: 10px; 
}

.parrafos-2{
  display: flex;
  flex: 1;
}

.container-3{
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin-left: 5em;
  margin-top: 1em;
  padding: 5px; 
}


