.titles {
  text-align: center;
}

.article-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-left: 1em;
}

.sportmanship{
  text-indent: 2em;
}

.container-2 {
  margin-top: 15px;
}

.parrafo{
  font-size: 18px;
}

.parrafs {
  margin-left: 20px;
}

.parrafs p {
  margin: 10px 0;
}

ul .all-play1 {
  text-indent: 1em;
}

ul .all-play2 {
  margin-left: 1em;
  justify-content: center;
}

.li-style{
  list-style:none;
}